*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PooH/nbproject/private/
/PooH/build/
/emailApp/nbproject/private/
/Chat App/nbproject/private/
/Chat App Client/nbproject/private/
/Chat App Server/nbproject/private/
/Chat App Shared/nbproject/private/
/Chat App Server/build/
/Chat App Shared/build/